{% extends 'melvyn_blog/base.html' %}
{% block content %}
{% load staticfiles %}
<script type='text/javascript' href="{% static 'js/chart.js' %}"></script>
<link rel='stylesheet' href="{% static 'style/css/about.css' %}">



<!--Begin About Section-->
    <section id="about">
    	<h1>About</h1>
			<div id="social">
				<div>
	        <ul id="top-social">
	            <li><a href="https://www.linkedin.com/in/melvyn-peignon-a56b2890?trk=nav_responsive_tab_profile_pic" class="linkedin" target="_blank">LinkedIn</a></li>
							<li><a href="https://github.com/melvynator" class="github" target="_blank">Github</a></li>
	        </ul>
				</div>
				<div>
					<ul id="top-social-contact">
						<li class="mail">peignonmel@eisti.eu</li>
						<li class="adress">56 rue du chemin vert, Boulogne-billancourt</li>
						<li class="phone">07.78.19.82.07</li>
					</ul>
				</div>
			</div>
        <div class="top-divider"></div>
        <div class="content">
        	<img src="{% static 'img/melvyn_peignon.jpg' %}"/>
			<div id="descrition">
				<h2>My Name is Melvyn Peignon and I want to be a Data scientist!</h2>
            	<p>I'm a master student from EISTI (engineering school in France). I'm interested in data science and science in general. I'm a passionate developper and love to work on interesting projects which include data. I mainly developp in Java and Python but I can also use C/C++, R, OCaml but those are not my favorite. I'm looking for any kind of opportunity, work proposition, open source project, toy apps ect...</p>
			</div>
			<div id="download-resume">
				<form method="get" action="cv/CVanglais-.pdf">
                    <button type="button" class="btn btn-primary" onclick="window.open('../static/cv/CVanglais-.pdf')">Download my resume</button>
                </form>
			</div>
        </div>
    <div class="bottom-divider"></div>
    </section>
<!--End About Section-->

<!--Begin Experience Section-->
    <section id="education">
    	<h1>Education</h1>
        <div class="top-divider"></div>
        <div class="content">
            <div class="block">
                <div class="col">
                    <h2>Master’s Degree in Engineering</h2>
                    <h3 class="date">2011-2016</h3>
                    <h3><a href ='https://eisti.fr/en'>EISTI</a></h3>
                    <div class="corporationLogo">
                        <img class="logo" src="{% static 'img/eisti-logo.png' %}"/>
                    </div>
                    <p>A general formation in Computer science, Maths and human ressources. I choose to specialize myself in computer science and maths and the last year in data science.</p>
                </div>

                <div class="col">
                    <h2>Bachelor of science major in computer science</h2>
                    <h3 class="date">2011-2014</h3>
                    <h3><a href ='https://www.u-cergy.fr/en/index.html'>University of Cergy</a></h3>
                    <div class="corporationLogo">
                        <img class="logo" src="{% static 'img/UCP-logo.png' %}"/>
                    </div>
                    <p>In parralel of my Engeeniring school I a bachelor of science with computer science as a major and math as a minor.</p>
                </div>

                <div class="col-right">
                    <h2>Baccalauréat (French secondary school diploma)</h2>
                    <h3 class="date">2010-2011</h3>
                    <h3><a href ='http://www.institutionrey.com'>Institution Rey</a></h3>
                    <div class="corporationLogo">
                        <img class="logo" src="{% static 'img/rey-logo.png' %}"/>
                    </div>
                    <p>I went into a scientifical "baccalauréat" with a speciality in mathematics. I received my B.A. with honours.</p>
                </div>
            </div>
        </div>
        <div class="bottom-divider"></div>
    </section>
<!--End Experience Section-->

<!--Begin Work Section-->
    <section id="experience">
    	<h1>Experience</h1>
        <div class="top-divider"></div>
        	<div class="content">
                <div class="block">
                    <div class="col">
                        <h2>Data scientist assistant at Warner Bros</h2>
                        <h3 class="date">April 2016 - September 2016</h3>
                        <div class="corporationLogo">
                            <img class="logo" src="{% static 'img/Warner.png' %}"/>
                        </div>
                        <p>Working with the digital marketing team, I worked on the creation of a benchmark, add targeting, news recommendation on the Warner bros website, ect... Technologies used: Python, scikit-learn, Hbase, solR, Spark, Pandas, D3.js</p>
                    </div>

                    <div class="col col-mid">
                        <h2>Data scientist internship at Yanport</h2>
                        <h3 class="date">April 2015 - Septembre 2015</h3>
                        <div class="corporationLogo">
                            <img class="logo" src="{% static 'img/yanport.gif' %}"/>
                        </div>
                        <p>I helped to develop an algorithm that aims to detect deduplicate content (At the end the algorithme was 95% efficient). Technologies used: Java, Python, Cassandra, Elasticsearch, AngularJs, HighCharts</p>
                    </div>

                    <div class="col">
                        <h2>School project for Askia software for survey</h2>
                        <h3 class="date">September 2014 - April 2015</h3>
                        <div class="corporationLogo">
                            <img class="logo" src="{% static 'img/askia.png' %}"/>
                        </div>
                        <p>I develop a software that allows a user to lematize and identify concept and then categorize text (Movie review) using Naive Bayes classifier. Technologies used: C++</p>
                    </div>
                </div>
          </div>
        <div class="bottom-divider"></div>
    </section>
<!--End Work Section-->

	<section id="personalWork">
		<h1>Personal work</h1>
			<div class="top-divider"></div>
            <div class="content">
                <div class="block">
                    <div class="col">
                        <h2>My personal blog</h2>
                        <h3 class="date">2016-20??</h3>
                        <h3><a href="https://github.com/melvynator/blog">My blog</a></h3>
                        <div class="corporationLogo">
                            <img class="logo" src="{% static 'img/blog.png' %}"/>
                        </div>
                        <p>My first blog about data science and Technology. I developped it using Django</p>
                    </div>

                    <div class="col">
                        <h2>How to kaggle using Elasticsearch</h2>
                        <h3 class="date">Mai 2016- Juin 2016</h3>
                        <h3><a href ='https://github.com/melvynator/how_2_kaggle_es'>Link to Github</a></h3>
                        <div class="corporationLogo">
                            <img class="logo" src="{% static 'img/h2ces.png' %}"/>
                        </div>
                        <p>I worked on a Kaggle using Elasticsearch. The objectif was to developed a supervised algorithm to predict the origin of a recipe.</p>
                    </div>

                    <div class="col-right">
                        <h2>Currency arbitrage</h2>
                        <h3 class="date">Septembre 2015- Octobre 2015</h3>
                        <h3><a href ='https://github.com/CurrencyArbitrageTeam/currencyArbitrage'>Link to Github</a></h3>
                        <div class="corporationLogo">
                            <img class="logo" src="{% static 'img/currency_arbitrage.png' %}"/>
                        </div>
                        <p><a href="https://www.linkedin.com/in/romain-geffraye-168555106">Romain Geffraye</a> and me worked on currency arbitrage. We wanted to apply different meta-heuristic algorithm to find arbitrage opportunity on the Forex.</p>
                    </div>
                </div>
        </div>
        <div class="bottom-divider"></div>
	</section>

<section id="skill">
	<h1>Skill</h1>
		<div class="top-divider"></div>
		<div id="chart">
            <div id="skillBdd">
				<div id="BDD"></div>
			</div>

			<div id="skillDev">
				<div id="devChart"></div>
			</div>

            <div id="skillWeb">
				<div id="devWeb"></div>
			</div>

			<div id="skillSE">
				<div id="searchEngine"></div>
			</div>
			<div class="bottom-divider"></div>
		</div>
</section>

<script>
    $(function () {

    $(document).ready(function () {

        // Build the chart
        $('#skillDev').highcharts({
            colors: ['#7F5E46', '#FFE8D8', '#FFBB8B', '#5E5046', '#CC966F', '#64E572',
             '#FF9655', '#FFF263', '#6AF9C4'],
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie',
                backgroundColor:'rgba(255, 255, 255, 0.0)'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            title:{
                text:'Developpement',
                floating: true,
                y: 70,
                style: {
                   color: '#6a6969',
                   font: '400 20px/12px "Bree Serif", Georgia, serif'
                }
            },
            credits: {
                enabled: false
            },
            exporting: {
              enabled: false
            },
            plotOptions: {
                pie: {
                    size:100,
                    allowPointSelect: false,
                    cursor: 'pointer',
                    dataLabels: {
                      style: {
                        textShadow: false,
                        color: '#6a6969'
                      },
                      distance: 0,
                      enabled: true
                    },
                }
            },
            series: [{
                name: 'Use of the language',
                colorByPoint: true,
                data: [{
                    name: 'Python',
                    y: 45
                }, {
                    name: 'Java',
                    y: 30
                }, {
                    name: 'Javascript',
                    y: 20
                }, {
                    name: 'Others',
                    y: 5
                }]
            }]
        });
        $('#skillBdd').highcharts({
            colors: ['#7F5E46', '#FFE8D8', '#FFBB8B', '#5E5046', '#CC966F', '#64E572',
             '#FF9655', '#FFF263', '#6AF9C4'],
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie',
                backgroundColor:'rgba(255, 255, 255, 0.0)'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            title:{
                text:'Data base',
                floating: true,
                y: 70,
                style: {
                   color: '#6a6969',
                   font: '400 20px/12px "Bree Serif", Georgia, serif'
                }
            },
            credits: {
                enabled: false
            },
            exporting: {
              enabled: false
            },
            plotOptions: {
                pie: {
                    size:100,
                    allowPointSelect: false,
                    cursor: 'pointer',
                    dataLabels: {
                      style: {
                        textShadow: false,
                        color: '#6a6969'
                      },
                      distance: 0,
                        enabled: true
                    },
                }
            },
            series: [{
                name: 'Use of data base',
                colorByPoint: true,
                data: [{
                    name: 'Cassandra',
                    y: 50
                }, {
                    name: 'Mongodb',
                    y: 30
                }, {
                    name: 'Mysql',
                    y: 15
                }, {
                    name: 'Hbase',
                    y: 5
                }]
            }]
        });
        $('#skillSE').highcharts({
            colors: ['#7F5E46', '#FFE8D8', '#FFBB8B', '#5E5046', '#CC966F', '#64E572',
             '#FF9655', '#FFF263', '#6AF9C4'],
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie',
                backgroundColor:'rgba(255, 255, 255, 0.0)'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            title:{
                text:'Search engine',
                floating: true,
                y: 70,
                style: {
                   color: '#6a6969',
                   font: '400 20px/12px "Bree Serif", Georgia, serif'
                }
            },
            credits: {
                enabled: false
            },
            exporting: {
              enabled: false
            },
            plotOptions: {
                pie: {
                    size:100,
                    allowPointSelect: false,
                    cursor: 'pointer',
                    dataLabels: {
                      style: {
                        textShadow: false,
                        color: '#6a6969'
                      },
                      distance: 0,
                      enabled: true
                    },
                }
            },
            series: [{
                name: 'Use of the search engine',
                colorByPoint: true,
                data: [{
                    name: 'ElasticSearch',
                    y: 80
                }, {
                    name: 'SolR',
                    y: 20
                }]
            }]
        });

        $('#skillWeb').highcharts({
            colors: ['#7F5E46', '#FFE8D8', '#FFBB8B', '#5E5046', '#CC966F', '#64E572',
             '#FF9655', '#FFF263', '#6AF9C4'],
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie',
                backgroundColor:'rgba(255, 255, 255, 0.0)'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            title:{
                text:'Web',
                floating: true,
                y: 70,
                style: {
                   color: '#6a6969',
                   font: '400 20px/12px "Bree Serif", Georgia, serif'
                }
            },
            credits: {
                enabled: false
            },
            exporting: {
              enabled: false
            },
            plotOptions: {
                pie: {
                    size:100,
                    allowPointSelect: false,
                    cursor: 'pointer',
                    dataLabels: {
                      style: {
                        textShadow: false,
                        color: '#6a6969'
                      },
                      distance: 0,
                      enabled: true
                    },
                }
            },
            series: [{
                name: 'Use of the framework',
                colorByPoint: true,
                data: [{
                    name: 'Web.py',
                    y: 45
                },{
                    name: 'Django',
                    y: 35
                },{
                    name: 'AngularJS',
                    y: 20
                }]
            }]
        });

    });
});

</script>

{% endblock %}