{% extends 'melvyn_blog/base.html' %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" href="{% static 'style/css/home.css' %}">

<div id="home">
    <section class="module parallax parallax-1">
        <div class="container"></div>
    </section>

    <div class="block">
        <div class="col">
            <a href="/posts" class="icon">
            <div class="corporationLogo">
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            </div>
            <h2>My blog</h2>
            </a>
            <hr>
            <p>
                This is my blog where I present the work I do on my sparse time.
            </p>
        </div>
        <div class="col">
            <a href="/about" class="icon">
            <div class="corporationLogo">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </div>
            <h2>About me</h2>
            </a>
            <hr>
            <p>
                This is where I present myself, my formations, my experiences and my projects.
            </p>
        </div>
            <div class="col-right">
            <a href="/contact" class="icon">
            <div class="corporationLogo">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            </div>
            <h2>Contact</h2>
            </a>
            <hr>
            <p>
                Feel free to reach me out. You can send me a little message directly from this website.
            </p>
        </div>
    </div>
</div>


{% endblock %}